name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        check:
          - name: Check Formatting
            command: format:check
          - name: Lint
            command: lint
          - name: Build
            command: build
          - name: Test Render Script
            command: render
    name: ${{ matrix.check.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: ${{ matrix.check.name }}
        run: bun run ${{ matrix.check.command }}
